{% extends "basic.html" %}

{% block title %}Your Notes{% endblock %}

{% block content %}

<div class="formContainer">
    <span class="contentTitle">Add a note</span>
    <form id="addNoteForm" action="{{ url_for('add_note')}}" method="post">
        <input type="text" name="title" placeholder="Title">
        <textarea name="body" placeholder="Body" rows="5"></textarea>
        <input type="submit" value="Add note" id="addNote">
       
    </form>
</div> 

<ul><li><b></b>
<hr>
<!DOCTYPE HTML><html><head><title>click to see</title><script>
function st1(){
 if(document.getElementById("sc1").innerHTML == "<button>접기</button>"){
  document.getElementById("sc1").innerHTML = "<button>펼치기</button>";
  document.all['sb1'].style.display = "none";
  
 } else {
  document.all['sb1'].style.display = "";
  document.getElementById("sc1").innerHTML = "<button>접기</button>";
 }
}
</script></head><body>

<div id="sc1"  onclick="st1()"><button>접기</button></div>
<div id="sb1" style="display:all;"><div id="notesContainer">
{% for note in notes %}
    {% include "note.html" %}

{% endfor %}
</div>
</div>
</body></html>


{% endblock %}</ul>
<br> &nbsp;

